aiohttp==3.7.4
async-generator==1.10  # TODO: uses contextlib.asynccontextmanager after py36 being dropped
black==22.3.0
flake8==3.9.2
isort==5.10.1
mypy==0.942
pytest==7.0.1
pytest-asyncio==0.16.0
pytest-cov==3.0.0
pyupgrade==2.31.0
tox==3.16.1
wheel==0.34.2
